body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 85%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
select,
textarea,
input[type="file"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    height: 300px;
    resize: vertical;
    overflow: auto;
    font-family: monospace;
    font-size: 14px;
}

button {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #007BFF;
    opacity: 0.6;
    cursor: not-allowed;
}

.challenge-block {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}

pre {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 4px;
    overflow: auto;
    white-space: pre-wrap;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#fileList {
    margin-top: 10px;
    list-style-type: none;
}

#feedback {
    margin-top: 20px;
    color: #007BFF;
    font-weight: bold;
    text-align: center;
}

.file-list-container {
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.file-list-container ul {
    list-style-type: disc;
    padding-left: 20px;
}